@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)*/
:root {
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-cyan: hsl(167, 40%, 24%);
  --primary-blue: hsl(198, 62%, 26%);
  --primary-cyan-moderate: hsl(168, 34%, 41%);
  --neutral-dark-blue: hsl(212, 27%, 19%);
  --white: hsl(0, 0%, 100%);
  --neutral-dark-gray: hsl(232, 10%, 55%);
}

html {
  font-size: 62.5%;
}
@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}
button:focus {
  outline: none;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.fraunce-700 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.fraunce-900 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.primary-text {
  color: var(--white);
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  max-width: 90%;
  margin: 12rem auto 0;
}
@media (max-width: 600px) {
  .primary-text {
    font-size: 4.8rem;
  }
}
@media (max-width: 480px) {
  .primary-text {
    font-size: 3.8rem;
  }
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 3.5rem;
}

.mb-large {
  margin-bottom: 5rem;
}

@media (max-width: 600px) {
  .hide-for-mobile {
    display: none;
  }
}

.hide-for-desktop {
  display: none;
}
@media (max-width: 600px) {
  .hide-for-desktop {
    display: block;
  }
}

header {
  overflow: hidden;
  height: 60rem;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (max-width: 600px) {
  header {
    background-image: url("./images/mobile/image-header.jpg");
  }
}

.features .feature {
  display: flex;
  height: 50vw;
  max-height: 52rem;
}
@media (max-width: 600px) {
  .features .feature {
    flex-direction: column;
    max-height: initial;
    height: auto;
  }
}
.features .feature:nth-child(even) .feature__image {
  order: -1;
}
.features .feature > * {
  flex: 1 0 50%;
}
.features .feature__data {
  display: grid;
  place-items: center;
}
@media (max-width: 600px) {
  .features .feature__data {
    margin-block: 7rem;
  }
}
.features .feature__data .box {
  width: 50%;
  min-width: min(90%, 30rem);
}
.features .feature__data .box h3 {
  font-size: 3rem;
  color: var(--neutral-dark-blue);
}
.features .feature__data .box p {
  color: var(--neutral-dark-gray);
}
.features .feature__data .box a {
  position: relative;
}
.features .feature__data .box a::before {
  content: "";
  position: absolute;
  left: -3px;
  right: -3px;
  bottom: -1px;
  height: 1rem;
  opacity: 0.3;
  transition: 0.3s opacity;
  z-index: -1;
}
.features .feature__data .box a:hover::before {
  opacity: 1;
}
.features .feature__data .box a.red::before {
  background: var(--primary-soft-red);
}
.features .feature__data .box a.yellow::before {
  background: var(--primary-yellow);
}
.features .feature__image {
  position: relative;
}
@media (max-width: 600px) {
  .features .feature__image {
    order: -1;
  }
}
.features .feature__image img {
  display: block;
  width: 100%;
  height: 100%;
}
.features .feature__image--box {
  text-align: center;
  position: absolute;
  bottom: 3rem;
  width: 50%;
  min-width: min(90%, 35rem);
  left: 50%;
  transform: translate(-50%);
}
.features .feature__image--box.cyan {
  color: var(--primary-cyan);
}
.features .feature__image--box.blue {
  color: var(--primary-blue);
}

/*# sourceMappingURL=style.css.map */
