header{
    overflow: hidden;
    height: 100vh;
    background: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}