*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)*/
:root{
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-cyan: hsl(167, 40%, 24%);
    --primary-blue: hsl(198, 62%, 26%);
    --primary-cyan-moderate: hsl(168, 34%, 41%);
    --neutral-dark-blue: hsl(212, 27%, 19%);
    --white: hsl(0, 0%, 100%);
    --neutral-dark-gray: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-dark-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
}

html {
    font-size: 62.5%;

    @include respond(tab){font-size: 56.25%;}
}

body{
    min-height: 100vh;
}

ul{list-style: none;}

a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    &:focus{
        outline: none;
    }
}